<div class="employee-data py-4 px-2 mt-4 bg-white">
  <p class="mb-3">بيانات الموظف</p>
  <p class="mb-3" style="color: var(--color-yellow)">بيانات موظف الفتح</p>
  <p>رقم الموظف</p>
  <div class="d-flex mb-3">
    <input
      type="text"
      placeholder="10144001321563"
      class="form-control w-50 border-0 pe-none"
      readonly
    />
    <a class="d-inline-block copy">
      <img src="assets/task/ant-design_copy-outlined.svg" alt="" />
      نسخ
    </a>
  </div>
  <p>اسم الموظف</p>
  <input
    type="text"
    placeholder="محمد علي عمران جلالي"
    class="form-control w-50 border-0 pe-none"
    readonly
  />
</div>