<div class="buttons-data bg-white d-sm-flex justify-content-sm-end py-2 ps-sm-3" >
  <button type="button" class="btn btn-create-new">
    <img src="assets/task/bi_align-end.svg" alt="" />
    إغلاق العقد
  </button>
  <button type="button" class="btn btn-request-outline me-sm-2">
    <img src="assets/task/fluent_print-32-regular.svg" alt="" />
    طباعة عقد الايجار
  </button>
  <button type="button" class="btn btn-request-outline me-sm-2">
    <img src="assets/task/ant-design_edit-outlined-2.svg" alt="" />
    تعديل
  </button>
  <button type="button" class="btn btn-request-outline me-sm-2">
    <img src="assets/task/Group-1.svg" alt="" />
    مطالبة
  </button>
  <button type="button" class="btn btn-request-outline me-sm-2">
    <img src="assets/task/ant-design_edit-outlined-2.svg" alt="" />
    مطالبة بالتعقيب
  </button>
</div>
