<div class="buttons-data bg-white py-2 ps-3">
  <button type="button" class="btn btn-request-outline me-2">
    مطالبة بالتعقيب
    <img src="assets/task/ant-design_edit-outlined-2.svg" alt="" />
  </button>
  <button type="button" class="btn btn-request-outline me-2">
    مطالبة<img src="assets/task/Group-1.svg" alt="" />
  </button>
  <button type="button" class="btn btn-request-outline me-2">
    تعديل <img src="assets/task/ant-design_edit-outlined-2.svg" alt="" />
  </button>
  <button type="button" class="btn btn-request-outline me-2">
    طباعة عقد الايجار
    <img src="assets/task/fluent_print-32-regular.svg" alt="" />
  </button>
  <button type="button" class="btn btn-create-new">
    إغلاق العقد
    <img src="assets/task/bi_align-end.svg" alt="" />
  </button>
</div>