.buttons-data{
  flex-flow: wrap;
}
.buttons-data button {
  font-size: 14px;
}
.btn-create-new {
  background-color: var(--color-yellow);
  color: var(--color-main-background);
}
.btn-request-outline {
  outline: 1px solid var(--color-yellow);
  color: var(--color-yellow);
}
.buttons-data button:nth-child(2),
.col-4 .btn-request-outline {
  color: var(--color-lime);
  outline: 1px solid var(--color-lime);
}
@media (max-width:767px) {
  .buttons-data button {
    font-size: 13px;
  }
  div{
    text-align: center;
  }
  button{
    margin: 5px;
  }
}