<table class="table">
  <thead class="table-dark">
    <tr style="cursor: pointer" (click)="showData($event)" class="p-0">
      <th scope="col">تاريخ الإضافة</th>
      <th scope="col">نوع الدفعة</th>
      <th scope="col">القيمة</th>
      <th scope="col">نوع السداد</th>
      <th scope="col">الموظف</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let i of [0, 1, 2, 3, 4]">
      <tr style="cursor: pointer" (click)="showData($event)" class="p-0">
        <td>17-12-2022</td>
        <td>تحت الحساب</td>
        <td style="color: var(--color-yellow)">500ر.س</td>
        <td>شيكات</td>
        <td class="d-flex">
          <span>1012</span>
          <div class="print-data me-sm-5 p-1">
            <img src="assets/task/fluent_print-32-regular-3.svg" alt="" />
            <img class="me-1" src="assets/task/Vector-6.svg" alt="" />
          </div>
          <img class="me-auto" src="assets/task/ep_arrow-down-2.svg" alt="" />
        </td>
      </tr>
      <tr class="d-none">
        <td colspan="5">
          <div class="row gap-5">
            <div class="col-5">
              <p class="names">تاريخ الإضافة</p>
              <p>17-12-2022</p>
              <p class="names">نوع الدفعه</p>
              <p>مخالفات مرورية بدون ضريبة</p>
              <p class="names">وصف السداد</p>
              <p>---</p>
              <p class="names">نوع السداد</p>
              <p>شيكات</p>
              <p class="names">القيمة</p>
              <p style="color:var(--color-yellow)">5980 ر.س</p>
            </div>
            <div class="col-4">
              <p class="names">فرع استلام الدفعه</p>
              <p>الفرع الرئيسي</p>
              <p class="names">نوع العملية</p>
              <p>شبكة</p>
              <p class="names">الماكينة</p>
              <p>63906533</p>
              <p class="names">رقم مراجع العملية</p>
              <p>1476</p>
              <p class="names">رقم سند القبض</p>
              <p>501969</p>
              <p class="names">الموظف</p>
              <p>1012</p>
            </div>
          </div>
          <div class="print-options d-flex justify-content-end">
            <div class="print-data p-1 inside ms-3">
              <img src="assets/task/Vector-7.svg" alt="" />
              <span class="me-2">سند </span>
            </div>
            <div class="print-data p-1 inside">
              <img src="assets/task/Vector-7.svg" alt="" />
              <span class="me-2">فاتورة </span>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
