.side-data {
  margin-top: 60px;
}

.side-data li {
  background-color: var(--color-main-background);
}

ul span {
  font-size: 14px;
}

.btn-cost span {
  padding: 5px;
  background-color: var(--color-text-secondary);
  outline: 1px solid #f3f0e7;
  border: 3px solid white;
  border-radius: 6px;
}

.row-between {
  margin: auto;
  display: inline-block;
  width: 90%;
  height: 1px;
  background-color: var(--color-text-secondary);
}

/* @media (max-width: 767px) {
  * {
    font-size: 13px;
  }
  ul {
    width: 92%;
    margin: auto;
    margin-top: 14px;
    box-shadow: none;
  }
} */
