<div id="sidebar" class="position-relative">
  <a
    href="/"
    class="d-flex py-4 link-dark text-decoration-none pe-none"
    title=""
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-original-title="Icon-only"
  >
    <img src="assets/task/logo.png" alt="" />
    <div class="boletes"><span></span><span></span><span></span></div>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center p-0 py-5">
    <li>
      <a
        href="#"
        class="nav-link p-0 py-3 pe-none"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <img
          class="imgList"
          src="assets/task/ant-design_home-filled.svg"
          alt=""
        />
        <p class="py-2 m-0 text-white">الرئيسية</p>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link p-0 py-3 pe-none"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <img
          class="imgList"
          src="assets/task/ion_file-tray-full-sharp-1.svg"
          alt=""
        />
        <p class="py-2 m-0 text-white">الملفات الرئيسية</p>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link p-0 py-3 pe-none"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <img
          class="imgList"
          src="assets/task/ant-design_file-text-filled.svg"
          alt=""
        />
        <p class="py-2 m-0 text-white">ملفات الأرقام</p>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link p-0 py-3 pe-none"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <img
          class="imgList"
          src="assets/task/bi_question-square-fill.svg"
          alt=""
        />
        <p class="py-2 m-0 text-white">الأستعلامات</p>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link p-0 py-3 pe-none"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <img
          class="imgList"
          src="assets/task/clarity_file-share-solid.svg"
          alt=""
        />
        <p class="py-2 m-0 text-white">التقارير</p>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link p-0 py-3 pe-none"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <img
          class="imgList"
          src="assets/task/eos-icons_network-file-system.svg"
          alt=""
        />
        <p class="py-2 m-0 text-white">النظام</p>
      </a>
    </li>
  </ul>
  <div class="d-block py-2 position-relative" style="background-color: var(--color-light-green)">
    <div class="boletes float-start ms-3">
      <span></span><span></span><span></span>
    </div>
    <ul class="mt-3 balls p-0 m-auto">
      <li style="background-color: var(--color-light-yellow)"></li>
      <li style="background-color: var(--color-red)"></li>
      <li style="background-color: var(--color-purple)"></li>
      <li id="redBall" class="d-none" style="background-color: var(--color-red)"></li>
      <li class="mb-4" style="background-color: var(--color-cyan)"></li>
    </ul>
    <img class="btn border-0" src="assets/task/Frame 1686552343.svg" alt="" (click)="showRedBall($event)" />
  </div>
  <div class="d-flex position-absolute" style="bottom: 0;">
    <img
      src="assets/task/WhatsApp Image 2023-05-16 at 6.54.53 PM.jpeg"
      alt="mdo"
      width="34"
      height="44"
    />
    <div class="boletes" style="margin-top: 15% ">
      <span></span><span></span><span></span>
    </div>
  </div>
</div>
